{
  "lmpl-bi-dev": "${GCP_PROJECT_ID}",
  "europe-west1": "${COMPOSER_REGION}",
  "europe-west1-b": "${COMPOSER_ZONE_ID}",
  "europe-west1": "${DATAFLOW_JAR_BUCKET_dev}",
  "dataflow_jar_file_dev": "to_be_overriden",
  "europe-west1-bi-dev-f6536b5b-bucket/dags": "${INPUT_BUCKET_dev}",
  "europe-west1-bi-dev-f6536b5b-bucket/dags": "${REF_BUCKET_dev}",
  "europe-west1-bi-dev-f6536b5b-bucket/dags": "${RESULT_BUCKET_dev}",
  "dataflow_staging_bucket_dev": "${DATAFLOW_STAGING_BUCKET_dev}",
}